<header>
  <img
    src="assets/imgs/photo3.jpg"
    alt="Christian Volz - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Christian Volz</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Typescript | React | Angular | NodeJs | MySQL</p>
    <p>Pelotas, Rio Grande do Sul, Brasil</p>
    <p>
      Sou um desenvolvedor fullstack, apaixonado por tecnologia e jogos, estou sempre estudando e aprendendo cada vez mais.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/curriculo.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/christian-berny-volz/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5553981029911"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (53) 9 8102-9911</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:christianbvolz@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>christianbvolz&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
